:root {

--bg: #ffffff;
--card: #ffffff;
--text: #222;
--shadow: rgba(0,0,0,0.1);

font-family: system-ui, Arial;

}

[data-theme="dark"] {

--bg: #0e0e0e;
--card: #1c1c1c;
--text: #ffffff;
--shadow: rgba(0,0,0,0.7);

}

html,body {

margin:0;
background: var(--bg);
color: var(--text);
min-height:100vh;

}

#app {

max-width:1300px;
margin:auto;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
